.register {
  width: 100%;
  height: 180vh;
  background: #fce3fe;
  padding-top: 100px;
}
.register {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}
.register-container {
  width: 580px;
  height: 600px;
  background: white;
  margin: auto;
  padding: 40px 60px;
  z-index: 0;
  margin-top: 5%;
}
.register-container h1 {
  margin: 20px 0px;
}
.register-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}
.register-fields input {
  height: 72px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}
.register-container button {
  width: 580px;
  height: 72px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}