.hero {
  background-color: rgba(235, 58, 58, 0.767);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.hero-izq {
  margin: auto;
}
.hero-derecha {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-arriba {
  font-size: small;
}
.hero-centro {
  font-weight: bold;
  font-size: xx-large;
  color: black;
}
.hero-abajo {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
